!!! 5
// saved from url=(0014)about:internet
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 20130929.jpg
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=640,user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    style(type='text/css')
      td img {display: block;}
      body {
      background-color: #ffffff;
      margin:0px;
      padding:0px;
      }

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", type="text/javascript")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(type='text/javascript', src='/javascripts/main.js')
  body
    block content
